# IDE-related
.idea
.vscode

# AWS
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Front-end
/dist
nessie/static/lib
node_modules

# Local configs
config/*-local.py
config/build-summary.json

# Local dev
venv
.tox/

# Compiled/optimized files
.python-version
__pycache__/

# Temporary files
tmp/
.DS_Store
*.log
.cache
.pytest_cache/
