sudo: required
language: python
python: "3.6"

addons:
  postgresql: "9.6"

before_install:
  - cd ${TRAVIS_BUILD_DIR}

  # Set up test db
  - psql -c 'create database nessie_metadata_test;' -U postgres
  - psql nessie_metadata_test -c 'create extension pg_trgm;' -U postgres
  - psql nessie_metadata_test -c 'create role nessie superuser login; alter schema public owner to nessie;' -U postgres

  - psql -c 'create database nessie_redshift_test;' -U postgres
  - psql nessie_redshift_test -c 'create extension pg_trgm;' -U postgres
  - psql nessie_redshift_test -c 'alter schema public owner to nessie;' -U postgres

  - psql -c 'create database nessie_test;' -U postgres
  - psql nessie_test -c 'create extension pg_trgm;' -U postgres
  - psql nessie_test -c 'alter schema public owner to nessie;' -U postgres

install:
  - pip install google-compute-engine # see https://github.com/tendenci/tendenci/issues/539
  - pip3 install -r requirements.txt
  - pip3 install tox

script:
  - tox
