Flask==0.12.2
Werkzeug==0.12.2
psycopg2==2.7.4
requests==2.18.4
simplejson==3.13.2

# For testing

https://github.com/gabrielfalcao/HTTPretty/archive/master.zip
pytest==3.3.0
pytest-flask==0.10.0
tox==2.9.1
