Flask==1.0.2
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.3.5
Werkzeug==0.15.4
apscheduler==3.5.1
boto3==1.7.84
decorator==4.3.2
ldap3==2.6
psycopg2==2.7.7
pytz==2019.1
requests==2.22.0
scipy==1.1.0
simplejson==3.16.0
xmltodict==0.12.0
# ETS fork of https://github.com/RaRe-Technologies/smart_open, with added support for S3 upload arguments.
https://github.com/ets-berkeley-edu/smart_open/archive/master.zip
https://github.com/python-cas/python-cas/archive/master.zip

# Dependencies for pandas 0.23.3. Note that pandas is not included in this requirements.txt file because
# of potential conflicts during installation; it must be separately installed once its dependencies are
# in place.
numpy==1.16.4
python-dateutil==2.8.0

# For testing

moto==1.3.6
pytest==5.0.1
pytest-flask==0.15.0
responses==0.10.6
tox==3.13.2
