# AWS configuration for Nessie
#
packages:
  yum:
    gcc-c++: []
    git: []
    postgresql15: []

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /assets: dist/static/assets
    /favicon.ico: dist/static/favicon.ico

files:
  "/tmp/amazon-cloudwatch-agent.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "metrics": {
          "namespace": "CWAgent",
          "append_dimensions": {
            "AutoScalingGroupName": "${aws:AutoScalingGroupName}"
          },
          "aggregation_dimensions": [
            ["AutoScalingGroupName"],
            ["InstanceId"],
            []
          ],
          "metrics_collected": {
            "cpu": {
              "measurement": [
                "cpu_usage_idle",
                "cpu_usage_system",
                "cpu_usage_user",
                "cpu_usage_iowait"
              ],
              "totalcpu": true,
              "resources": [
                "*"
              ],
              "metrics_collection_interval": 60
            },
            "mem": {
              "measurement": [
                "mem_used_percent",
                "mem_available"
              ],
              "metrics_collection_interval": 300
            },
            "disk": {
              "measurement": [
                "disk_used_percent"
              ],
              "resources": [
                "/"
              ],
              "drop_device": true,
              "metrics_collection_interval": 300
            },
            "diskio": {
              "measurement": [
                "write_bytes",
                "read_bytes",
                "writes",
                "reads"
              ],
              "resources": [
                "*"
              ],
              "metrics_collection_interval": 300
            },
            "net": {
              "measurement": [
                "bytes_sent",
                "bytes_recv"
              ],
              "resources": [
                "eth0",
                "ens*"
              ],
              "metrics_collection_interval": 300
            }
          }
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/app/current/nessie.log*",
                  "log_group_name": "`{"Fn::Sub":"/aws/elasticbeanstalk/${AWSEBEnvironmentName}/var/app/current/nessie.log"}`",
                  "log_stream_name": "{instance_id}"
                },
                {
                  "file_path": "/var/log/messages",
                  "log_group_name": "`{"Fn::Sub":"/aws/elasticbeanstalk/${AWSEBEnvironmentName}/var/log/messages"}`",
                  "log_stream_name": "{instance_id}-messages",
                  "timestamp_format": "%b %d %H:%M:%S"
                },
                {
                  "file_path": "/var/log/secure",
                  "log_group_name": "`{"Fn::Sub":"/aws/elasticbeanstalk/${AWSEBEnvironmentName}/var/log/secure"}`",
                  "log_stream_name": "{instance_id}-secure",
                  "timestamp_format": "%b %d %H:%M:%S"
                }
              ]
            }
          }
        }
      }
