#
# Nessie's AWS configs
#

packages:
  yum:
    awslogs: []
    gcc-c++: []
    git: []
    mod_ssl: []

option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: dist/static

files:
  /etc/awslogs/awscli.conf:
    mode: '000600'
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  /etc/awslogs/config/logs.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      [/var/app/current/nessie.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/app/current/nessie.log"]]}`
      log_stream_name={instance_id}
      file=/var/app/current/nessie.log*
