#
# Nessie Apache config
#
files:
  # Proxy SSL connections to port 80
  /etc/httpd/conf.d/ssl.conf:
    mode: '000644'
    owner: root
    group: root
    content: |
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIPassAuthorization On
      WSGIRestrictEmbedded On

      # Redirect http to https.
      RewriteEngine On
      <If "-n '%{HTTP:X-Forwarded-Proto}' && %{HTTP:X-Forwarded-Proto} != 'https'">
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
      </If>

      Listen 443

      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/nessie_openssl_x509.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/nessie_openssl_private.key"

        Alias /static/ /opt/python/current/app/dist/static/
        <Directory /opt/python/current/app/dist/static>
          Order allow,deny
          Allow from all
        </Directory>

        WSGIScriptAlias / /opt/python/current/app/run.py
        WSGIApplicationGroup %{GLOBAL}

        <Directory /opt/python/current/app>
          Require all granted
        </Directory>

        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl

        LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
        LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined-forwarded
        SetEnvIf X-Forwarded-For "^.*\..*\..*\..*" forwarded
        CustomLog "logs/access_log" combined env=!forwarded
        CustomLog "logs/access_log" combined-forwarded env=forwarded
        ErrorLogFormat "[%{u}t] [%-m:%l] [pid %P:tid %T] %7F: %E: [client\ %{X-Forwarded-For}i] %M% ,\ referer\ %{Referer}i"

      </VirtualHost>

  # Load-balancer SSL cert on EC2 instances
  /etc/pki/tls/certs/nessie_openssl_x509.crt:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIENDCCAxwCCQC6i2Gs/tO5yjANBgkqhkiG9w0BAQsFADCB2zELMAkGA1UEBhMC
      VVMxEzARBgNVBAgMCkNhbGlmb3JuaWExETAPBgNVBAcMCEJlcmtlbGV5MSswKQYD
      VQQKDCJVbml2ZXJzaXR5IG9mIENhbGlmb3JuaWEsIEJlcmtlbGV5MSgwJgYDVQQL
      DB9FZHVjYXRpb25hbCBUZWNobm9sb2d5IFNlcnZpY2VzMRwwGgYDVQQDDBNldHMt
      YmVya2VsZXktbGEubmV0MS8wLQYJKoZIhvcNAQkBFiBldHMtYW5hbHl0aWNzQGxp
      c3RzLmJlcmtlbGV5LmVkdTAeFw0xNzEyMDgyMTMxMzFaFw0xOTEyMDgyMTMxMzFa
      MIHbMQswCQYDVQQGEwJVUzETMBEGA1UECAwKQ2FsaWZvcm5pYTERMA8GA1UEBwwI
      QmVya2VsZXkxKzApBgNVBAoMIlVuaXZlcnNpdHkgb2YgQ2FsaWZvcm5pYSwgQmVy
      a2VsZXkxKDAmBgNVBAsMH0VkdWNhdGlvbmFsIFRlY2hub2xvZ3kgU2VydmljZXMx
      HDAaBgNVBAMME2V0cy1iZXJrZWxleS1sYS5uZXQxLzAtBgkqhkiG9w0BCQEWIGV0
      cy1hbmFseXRpY3NAbGlzdHMuYmVya2VsZXkuZWR1MIIBIjANBgkqhkiG9w0BAQEF
      AAOCAQ8AMIIBCgKCAQEA/uZ5Ee4+AmOUh5tKgn+MHtLw5twLROa3ufTBqr5NthVW
      AvrFvCg/yArQKET57dxuz1AyR95XaDtoYWS+R3qXcIQha0djbE2AlVojpr4KJFqZ
      4gWQx6bZXppKV7AjKPoOljA+fbbCW2chS4TilDlvbXlzWb8vRFRn8tRYTDp5Zmbg
      3NE3sRURnGBIElxFY/CGZZ/Mx75d5AN4/QWwh97+0tcRl1YGH/93NLUSQj6/aB68
      PWz8VS/rsToLey9ss7ET1/e8v2nYaF1nJ+/a3zOoDO7t8uNHLLsflFqqxnz4hU4C
      y8/15B0MXMEIjXMkqm+XEFdGMyZvQz7RGGuNlLNbgQIDAQABMA0GCSqGSIb3DQEB
      CwUAA4IBAQAOsQ1p2lJJpsLkKj+Q8VIuB+ddKIxdaZBW+fCK2WoEzmQwfW35H19S
      AlpbOdyIMNo1hZGC0J+roGJHY5/TohmqLhdjVUXj07tFbUXaJoEPQ/DCtsE86wnc
      Ru3ixIlAPx/58/9dmjPWQHgf2OUlJmHVmauDCQPuKfS2uTZWh1Od9uzPl/mFKaPr
      D1qzksTrtob1ZyxV4HQGXoWRPxVH882vwe0l5aNP/eTEs1Iw6o/7ecEdGfT+MHFH
      +gr0VXEJ719HrAmj6vPU2OmIi26/k+SY0hEL+xTjrRUAj0x4xK54TjuZxLxIGGXb
      uQ/iZK+pMt0CYWv0yGxYwe6JHlo8AslP
      -----END CERTIFICATE-----

  # Get the private key matching the certificate.
  /etc/pki/tls/certs/nessie_openssl_private.key:
    mode: '000400'
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-us-west-2.amazonaws.com/la-deploy-configs/shared/certificate/la_openssl_private.key

container_commands:
  01_overwrite_wsgi_conf:
    command:
      echo '# See ssl.conf for WSGI configuration.' > /opt/python/ondeck/wsgi.conf
