# Errors get logged to /var/log/cfn-init.log. See Also /var/log/eb-tools.log

commands:
# Download the agent installation script
  "01-agent-repository":
    command: sudo wget https://d1wk0tztpsntt1.cloudfront.net/linux/latest/install

# Run the installation script
  "02-run-installation-script":
    command: sudo bash install
