#
# Restart awslogs to pick up CloudWatch configuration.
#
commands:
  create_post_dir:
    command: 'mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post'
    ignoreErrors: true
files:
  '/opt/elasticbeanstalk/hooks/appdeploy/post/01_restart_awslogs.sh':
    mode: '000755'
    owner: root
    group: root
    content: |
      #!/bin/bash
      sudo service awslogs restart
